[submodule "dokoopy-frontend"]
	path = dokoopy-frontend
	url = https://github.com/baza-trainee/dokoopy-frontend.git
[submodule "steel-hugs-landing"]
	path = steel-hugs-landing
	url = https://github.com/baza-trainee/steel-hugs-landing.git
[submodule "kavaleridze"]
	path = kavaleridze
	url = https://github.com/baza-trainee/kavaleridze.git
[submodule "1987-new"]
	path = 1987-new
	url = https://github.com/SerhiiOnopriienko/1987-new.git
