.container {
  margin-top: 80px;
  display: flex;
  align-items: flex-end;
  @media (min-width: 1280px) {
    margin-top: 64px;
  }
  @media (min-width: 1920px) {
    margin-top: 80px;
  }
}

.videoContainer {
  width: fit-content;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.videoTag {
  height: 488px;
  @media (min-width: 865px) {
    height: 56.5vw;
  }
  @media (min-width: 1280px) {
    width: 100vw;
    height: 100%;
  }
}

.headerText {
  position: absolute;
  margin-left: 20px;
  margin-bottom: 20px;
  @media (min-width: 1280px) {
    margin-left: 56px;
    margin-bottom: 35px;
  }
}

.headerText p {
  color: #fff;
  letter-spacing: -0.176px;
  @media (min-width: 1280px) {
    font-size: 26px;
  }
}
